* {
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  background-color: #40916c;
  box-shadow: 0 0 2rem #081c15;
  display: flex;
  justify-content: space-around;
}

h2 {
  color: white;
  margin: 10px;
}

ul {
  align-items: center;
  display: flex;
  margin: 7px;
}

li {
  color: white;
  list-style-type: none;
  padding-left: 2rem;
}

.gravatar {
  height: 50px;
  width: 50px;
}

.logoTrivia {
  height: 60px;
  width: 150px;
}

