*, *:after , *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #2d3436;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.question-background {
  align-items: center;
  background-image: linear-gradient(to left top, #005242, #55efc4);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.question-container{
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  max-width: 55%;
  padding: 1rem;
}

.question__category {
  border-radius: 3px;
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 2px 5px;
}

.color-0 {
  border: 1px solid #2c3e50;
  color: #2c3e50;
}
.color-1 {
  border: 1px solid #2980b9;
  color: #2980b9;
}

.color-2 {
  border: 1px solid #5c2c70;
  color: #5c2c70;
}

.color-3 {
  border: 1px solid #c0392b;
  color: #c0392b;
}

.color-4 {
  border: 1px solid #44bd32;
  color: #44bd32;
}

.answer-options {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.invalid {
  border: 3px solid red !important;
}

.correct {
  border: 3px solid #06f00f !important;
}

.answer-btn {
  background-color: #fff;
  border: 1px solid #34495e;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
}



